<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>

  
    <link rel="stylesheet" href="/css/style.css">
    <%# if (isDiceRoller) {# %>
        <link rel="stylesheet" href="/css/diceRoller.css">
    <%# } %>
  </head>

  <body>
    <header>
      <h1>GameHub</h1>
      <nav>
        <ul>
          <li><a href="/">Accueil</a></li>
          <li><a href="/fourchette">Fourchette</a></li>
          <li><a href="/diceRoller">diceRoller</a></li>
        </ul>
      </nav>
    </header>